.fakeimg {
  height: 200px;
  background: rgb(105, 124, 94);
  padding-bottom:50px;
}

body {
  background-image: url(hike.jpg);
  background-position:absolute;
  background-repeat:repeat-x;
  background-attachment:fixed;
  font-family:ubuntu;
}
#exampleCheck1 {  
   width:30px;   height:30px;   padding:30px; 
}  
#checkboxtext {   
  margin-left:20px;
  margin-top: 10px;
}
#OliverButton {
  margin-top:-95px;
}
#Titlecont{
  margin-left:15px;
}
#navitems {
  padding-top:5px;
  position:sticky;
  top:0;
  z-index:1024;
}
#Dinabtn  {
  margin-top:-180px;
}
#footer a {
  color:rgb(14, 61, 27)
}
a{
  color: #000000;
}
#buttonSub{
  margin-top: -20%;
}

a:hover{
  color: white;
}
#logo {
  height: 75px;
  width: 75px;
}
.custom-select-lg{
  width:80%;
}
.form-select{
  width:80%;
}
.form-control:focus {
  border: solid blue 5px;

}
.form-check {
  padding-bottom:20px;
}
#main{
  padding-top:25px;
  background-color:rgba(156, 163, 155, 0.726);
  padding-bottom:25px;
  opacity:95%;
}
#nicomain{
  padding-top:25px;
  background-color:rgba(156, 163, 155, 0.726);
  padding-bottom:25px;
  opacity:100%;
}
#footer{
  background-color:grey;
  margin-top:-0px;
  z-index:1;
}
#myBtn{
  box-shadow:black 0px 0px 10px;
  border-radius:100%;
  width:60px;
  height:60px;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: rgb(211, 211, 211);
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
  opacity:70%;
  display:none;
}
.btn:focus{
  border: solid blue 4px;

}

#memberbutton {
  z-index:1;
  position:fixed;
  margin-left:2px;
  margin-top:10px;
}
.nico-ul{
  list-style: none;
  text-align:center;
}
td {
  margin:30px;
}
#Check1 {
  margin-top:-20px;
  margin-left:-320px;
  width:30px;
  height:30px;
  padding:30px;
}
#checkboxtext{
  margin-left:20px;
}

#footer{
  background: linear-gradient(128deg, rgba(106,156,106,1) 30%, rgba(255,255,255,1) 70%, rgba(255,255,255,1) 100%);
}
form{
  margin-top:50px;
  max-width: 80%;
  background-color: #000000;
  color:white;
  padding: 5%;
  text-align:left;
  padding-bottom:50px;
}
#nico-form{
  padding-bottom:50px;
}
#nicobtn{
  opacity:100%;
}
#dina-form  {
  margin-top:50px;
  max-width: 80%;
  background-color: #a0d3e7;
  padding: 5%;
  text-align:left;
}
#dina-formbox {
  background-color: rgb(141, 219, 193);
}
#dinaform {
  background-color: rgb(32, 175, 127);
}
#textbox{
  margin-top:25px;
  margin-bottom:25px;
  background-color: white;
  padding: 5%;
}
.emailHelp{
  color:black;
}
#eventtable{
  padding:50px;
  color: #232917;
  text-shadow: #11130e;
  background-color: #95bd68;
  text-align:center;
}
.sponsors-ul  {
  font-size:20px;
  list-style: none;
}
/*
MEDIA OPTIONS
*/
@media screen and (max-width: 575px) {
  #memberbutton {
  margin-left:150px;
  margin-top:-80px;
  display:none;
  }
  #navigation ul a{
      padding:0;
      margin:11px;
      flex-shrink: 1;
      font-size:15px;
  }
  #myBtn{
    box-shadow:black 0px 0px 10px;
    border-radius:100%;
    width:60px;
    height:60px;
    position: fixed;
    bottom: 50px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: rgb(211, 211, 211);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
    opacity:70%;
    display:none;
  }
  .custom-select-lg:focus{
    border: solid blue 3px;
  }
  
  #eventtable{
    text-align:left;
  }
  #buttonSub{
    margin-top: -40%;
  }
  #OliverButton {
    margin-top:-115px;
  }
  #Titlecont{
    margin-left:0px;
  }
  #Dinabtn{
    margin-top:-220px;
  }
  form{
    padding-bottom:70px;
  }
  #main{
    opacity:90%;
  }
  form{
    max-width: fit-content;
  }
  .collapse {
    z-index:1000;
  }
  .navbar{
    z-index:1010;
  }
  .nav-link{
    font-size:13px;
  }
  #contactform{
    margin-left:20px;
  }
  #nico-ul{
    text-align:center;
  }
  #Check1 {
    margin-top:-45px;
    margin-left:-140px;
    width:30px;
    height:30px;
    padding:30px;
  }
}
@media screen and (min-width: 575px) {
  .navbar-nav {
  margin-left:150px;
  margin-top:80px
  }
  #memberbutton{
    opacity:60%;
  }
}
@media screen and (min-width: 800px) {
  #memberbutton{
    opacity:100%;
  }
  .carousel-item h5 {
    color: rgb(22, 34, 11);
  }
}
table {
  width: 100%;
}
form {
  width: 100%;
}
.p1 {
  font-size: 26px;
  line-height: 1.4;
  font-weight: 500;
}
.p2 {
  font-size: 34px;
  line-height: 1.4;
  font-weight: 400;
}
.p3 {
  font-size: 35px;
  line-height: 1.4;
  font-weight: 500;
}